@font-face {
font-family: 'FuturaBT';
    src: url('FuturaBT-BoldItalic.woff') format('woff'), 
    url('Futura Bold Italic font.ttf') format('truetype'); 
} 

body {
color: chartreuse;
background: black;
max-width: 500px;
margin-right: auto;
margin-left: auto;
text-align: center;
padding-bottom: 50px;
font-family: 'FuturaBT';
}

p {
display: none;
font-weight: bold;
font-size: 24px; 
}

.title {
  text-decoration: underline;
}

p:nth-of-type(1) {
display: block;
}

p span {
display:block;
text-align:center;
padding:10px;
margin:10px;
border:2px chartreuse solid;
}

p span:hover {
cursor: pointer;
background: rgba(255,255,255,0.5);
color: black
}

em {
color: black;
position: fixed;
bottom: 0px;
left: 0px;
font-size: 30px;
padding: 10px 0px 20px 0px;
width: 100%;
background: chartreuse;
}