@font-face {
font-family: 'FuturaBT';
    src: url('FuturaBT-BoldItalic.woff') format('woff'), 
    url('Futura Bold Italic font.ttf') format('truetype'); 
} 

body {
    background-color: powderblue;
    font-family: 'FuturaBT';
  }
  h1 {
    color: rgb(51, 51, 184);
  }
  i {
    color: red;
  }
  a {
    color: rgb(255, 0, 0);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #ff0000;
    background-color: antiquewhite;
  }
  ol {
    color:rgb(85, 82, 255);
  }
  .github {
    color:chartreuse;
    background-color: black;
    border: 2px solid chartreuse;
    padding: 8px 16px;
  }
  .quizpage {
    color:#ff00ff;
    background-color: white;
    border: 2px solid #ff00ff;
    padding: 8px 16px;
  }